@page
@model CustomLeaderboardsWebsite.Pages.Leaderboards.ProfileModel
@{
    Layout = "Shared/MainLayout.cshtml";
    Layout = "Shared/MainLayout.cshtml";
}

@{ 
//Profile profile = DataManager.

    <p>Soon</p>

<!--<table>
    <tr>
        <td>
            <img />
        </td>
    </tr>
</table>-->

    }